@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add A New Engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName, "Enter Name of New Engineer ")
    @Html.TextBoxFor(model => model.EngineerName)


    <input type="submit" value="Add Engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("View My Engineers", "Index")</p>