@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName, "Please enter a name for this engineer: ")
    @Html.TextBoxFor(model => model.EngineerName)


    <input type="submit" value="Add new Engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>