@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-6">
    <p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
  </div>
  <div class="col-md-6">
    <p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
  </div>
</div>

